<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - sampleDataDummy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/sampleDataDummy.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">sampleDataDummy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - sampleDataDummy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#submitButton").hide();
        $("#generateButton").click(function(){
            $("#submitButton").show();
            let maxNumber = 10;
            var tableBody = $("#randomTable tbody");
            tableBody.empty(); // Clear previous rows if any

            for (var i = 0; i < maxNumber; i++) {
                const umur = getRandomNumber(18, 40);
                const gender = getIdGender(1, 2);
                const nama = generateRandomName(25);
                const hobi = getIdHobi();
                const row = "<tr><td>" + ( i + 1 ) + "</td><td>" + nama + "</td><td>" + gender + "</td><td>" + hobi + "</td><td>" + umur + "</td></tr>";
                tableBody.append(row);
            }
        });

        function getRandomNumber(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function getIdGender(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        
        function getIdHobi(){
            return  randomLetter = String.fromCharCode(65 + Math.floor(Math.random() * 5)); // Random uppercase letter A-E
        }

        function generateRandomName(length) {
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890';
            var charactersLength = characters.length;
            var randomName = '';
            for (var i = 0; i < length; i++) {
                randomName += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return randomName;
        }
    });

    $(document).ready(function () {
        $('#submitButton').click(function () {
            const persons = [];
            $('#randomTable tbody tr').each(function () {
            const id = parseInt($(this).find('td:eq(0)').text());
                const umur = parseInt($(this).find('td:eq(4)').text());
                const gender = parseInt($(this).find('td:eq(2)').text());
                const nama = $(this).find('td:eq(1)').text()
                const hobi = parseInt($(this).find('td:eq(3)').text());
                persons.push({ Id: id, Nama: nama, IdGender: gender, IdHobi: hobi, Umur: umur});
            });

            if (persons.length > 0) {
                $.ajax({
                    url: '@Url.Action("SavePersons","Persons")',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(persons),
                    success: function () {
                        alert('Data saved successfully!');
                        location.reload();
                    },
                    error: function () {
                        alert('Error saving data.');
                    }
                });
            } else {
                alert('No data to save.');
            }
        });
    });
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>