@{
    ViewData["Title"] = "Data Dummy";
}

<div class="text-center">
    <h1 class="display-4">Data Dummy</h1>
    <button id="generateButton" class="btn btn-success">Generate</button>
    <button id="submitButton" class="btn btn-primary">Submit</button>
    <table id="randomTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Hobi</th>
            <th>Usia</th>
        </tr>
        </thead>
        <tbody>
        <!-- Rows will be inserted here -->
        </tbody>
    </table>
</div>